Repository gino20/demonstration-pages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parse flow --write, tslint, prettier --parser typescript --write, stylefmt

chore: add tslint
  .lintstagedrc
  package.json
  src/app.tsx
  tslint.json
  yarn.lock
Due: prettier --parser typescript --write

chore: update gitignore
  .gitignore
Due: none

chore: update docker-compose of prod
  docker-compose.yml
Due: none

chore: update webpack config for different env
  webpack.config.ts
Due: prettier --parser typescript --write

chore: update commands of prettier in lint-staged
  .lintstagedrc
Due: none

chore: update dist files
  .lintstagedrc
  dist/app.bundle.js
  dist/index.html
Due: prettier --parse flow --write, tslint

chore: update build
  .gitignore
  app.bundle.js
  index.html
Due: prettier --parse flow --write, tslint

chore: add dockerignore file
  .dockerignore
Due: none

chore: update docker files
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: none

chore: remove dist/
  dist/app.bundle.js
  dist/index.html
Due: prettier --parse flow --write, tslint

chore: update makefile
  Makefile
Due: none

chore: update webpack config
  tslint.json
  webpack.config.ts
Due: prettier --parser typescript --write

chore: add travis
  .travis.yml
Due: none

chore: update travis file
  .travis.yml
Due: none

Automatically update from travis-ci
  app.bundle.js
  index.html
Due: prettier --parse flow --write, tslint

Path conditions:
  prettier --parse flow --write: any of: *.{js, jsx}
  tslint: any of: *.{js, jsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  stylefmt: any of: *.css
